@import '../../style/theme.less';

.header {
  height: 60px;
  line-height: 60px;
  background-color: @color-primary;

  .logo {
    margin-left: 10px;
    .img {
      display: inline-block;
    }
    .title {
      display: inline-block;
      color: #FFFFFF;
      font-size: @size-text-xl;
    }
  }

}